<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">¡BIENVENIDO!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      Está aplicación tiene el propósito de ayudar a las personas que no conocen sobre las enfermedades que su animal pudiera tener, dando
      análisis con base a imágenes, está aplicación no sustituye a ningún especialista solo sirve como referencia. 
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-lg="6" *ngFor="let record of records">
        <ion-card>



          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="6">
                <img [src]="record.img" alt="imagen">
              </ion-col>

              <ion-col size-xs="12" size-sm="6">
                <ion-card-header>
                  <ion-card-title class="ion-text-uppercase ion-text-center">{{record.predictions[0].tagName}}
                  </ion-card-title>
                </ion-card-header>
                  <ion-item>
                    <ion-note slot="start">Hora:</ion-note>
                    <ion-label>{{record.hora}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-note slot="start">Día:</ion-note>
                    <ion-label>{{record.dia}}</ion-label>
                  </ion-item>
                <ion-button expand="full" [routerLink]="['/detail-record', record.id]">Ver más...</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
</ion-content>