<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cámara</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" slot="end" (click)="sumit()">
        <ion-icon slot="end" name="send"></ion-icon>
        Enviar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">¡AVISO!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      Al subir su fotografía está consciente de que podría ser usada, solo para el entrenamiento de la máquina.
    </ion-card-content>
  </ion-card>

  <!-- Inputs with labels -->
  <ion-item class="ion-margin-bottom">
    <ion-label class="ion-text-center">Ingrese su fotografia:</ion-label>
  </ion-item>

  <!--<ion-item class="ion-margin-bottom">
    <ion-input id="img" accept="image/*" (change)="viewImage($event)" type="file" placeholder="Ingrese su imágen aquí">
    </ion-input>
  </ion-item>-->

  <div align="center">
    <img *ngIf="preview" [src]="preview">
  </div>

  <!--<img [src]="photo">  width="50%" height="50%"-->

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>