/*#img{
    width: 100%;
    background-color: #FFFFFF;
    color: #0011ff;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
/*
#lab ion-label{
    color: #0011ff;
    height: 60px;
    width: 500px;
    background-color: #FFFFFF;
    position: absolute;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*.my-custom-class {
    --background: #d81919;
    --color: blue($color: #000000);
  }*/